# Tous les dossiers cachés ".vscode" (peu importe dans quels sous-dossiers ils
# se trouvent) sont ignorés. ".vscode" est un dossier de configurations que le
# logiciel VS Code génère automatiquement, notamment si on lance le débogueur.
**/.vscode/

# Tous les fichiers .docx (peu importe dans quels sous-dossiers ils se trouvent)
# sont ignorés.
**/*.docx

# Tous les fichiers téléchargés via Composer (ils se retrouvent habituellement
# dans le dossier "vendor") sont ignorés. Composer vous sera présenté plus tard
# dans ce cours.
**/vendor/

# Les fichiers HTML de courriels générés par PHP (se trouvant dans le dossier
# "email") sont ignorés. Ce dossier pourra être utile si vous avez recours à la
# librairie "PHPMailer" plus tard dans ce cours.
**/email/